<div class="add-product-container">
    <div class="add-product-header">
        <h1>Formulario de registro</h1>
    </div>
    <hr>
    <div class="add-product-form">
        <form action="">
            <div class="form-row">
                <div class="form-section">
                    <label for="">ID</label>
                    <input class="form-input" type="text" name="id" id="id">
                    <div class="error-message">
                    </div>
                </div>
                <div class="form-section">
                    <label for="">Nombre</label>
                    <input class="form-input" type="text" name="name" id="name">
                    <div class="error-message">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-section">
                    <label for="">Descripción</label>
                    <input class="form-input" type="text" name="description" id="description">
                    <div class="error-message">
                    </div>
                </div>
                <div class="form-section">
                    <label for="">Logo</label>
                    <input class="form-input" type="text" name="logo" id="logo">
                    <div class="error-message">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-section">
                    <label for="">Fecha liberación</label>
                    <input class="form-input" type="date" name="release_date" id="release_date">
                    <div class="error-message">
                    </div>
                </div>
                <div class="form-section">
                    <label for="">Fecha revisión</label>
                    <input class="form-input" type="date" name="review_date" id="review_date">
                    <div class="error-message">
                    </div>
                </div>
            </div>
            <div class="form-row form-footer">
                <div class="form-footer_left">
                    <button>Reiniciar</button>
                </div>
                <div class="form-footer_right">
                    <button>Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>