.add-product-container {
  margin: 2rem auto;
  width: 70%;
  text-align: center;
  background: white;
}
.add-product-header {
  padding-top: 1rem;
}
.back-button {
  text-align: left;
  margin-left: 3rem;
}
.add-product-form {
  padding: 2rem;
  flex-direction: column;
  text-align: left;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-section {
  flex: 1;
  margin: 0.5rem 1rem;
  gap: 1rem;
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    box-sizing: border-box;
  }
}

.form-footer {
  justify-content: center;
  gap: 6rem;
  margin-top: 2rem;
}

.error-message {
  color: red;
  margin-top: 0.5rem;
}
