.product-list-container {
    width: 100%;
    display: inline-grid;
}
.card-product-list {
    background: #ffffff;
    margin: 2rem 3rem;
    padding: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-y: auto;

    thead {
        tr {
            background: #f9fafc;
            
            th {
                font-weight: bold;
            }
        }
    }
    
    tr {
        border-bottom: 1px solid #f0f1f5;
    }
    
    th, td {
        padding: 1.2rem 0.8rem;
        text-align: left;   
    }
   
}


.text-align-center {
    text-align: center !important;
}

.description {
    overflow: hidden;
}

img {
    width: 100%;
    height: 2.5rem;
    object-fit: cover;
}

.footer-product-list {
    padding: 2rem 0;
    .footer-product-list_left {
        float: left;
    }
    .footer-product-list_right {
        float: right;
    }
}

.header-product-list{
    margin: 0 3rem;
    margin-top: 2rem;
    .header-product-list_left {
        float: left;
        input{
            width: 100%;
            padding: 0.5rem;
            border-radius: 10px;
            border: 3px solid #e4e5e7;
        }
    }
    .header-product-list_right {
        float: right;
        button {
            padding: 1rem 1rem;
            border: none;
            border-radius: 4px;
            background: #f5df66;
            cursor: pointer;

            &:hover {
                background: #e4d05f;
            }
        }
    }
}

.no-products {
    margin: 2rem auto;
}