<div class="product-list-container">
    <div class="header-product-list">
        <div class="header-product-list_left">
            <input type="text" placeholder="Search" class="input-search-product-list border-secondary"
                (keyup)="searchProducts($event.target.value)" />
        </div>

        <div class="header-product-list_right">
            <button class="btn btn_primary" (click)="addProduct()">Agregar</button>
        </div>
    </div>

    @if (isProductsLoading$ | async) {
    <div class="card-product-list">
        <table>
            <thead>
                <tr>
                    <th class="text-align-center">Logo</th>
                    <th>Nombre del producto</th>
                    <th>Descripción</th>
                    <th>Fecha de liberación</th>
                    <th>Fecha de restricción</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (product of (products$ | async); track product.id) {
                <tr>
                    <td class="text-align-center"><img src="assets/images/visa-signature.webp"
                            alt="{{ product.name }} logo" /></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.date_release | date:'dd/MM/yyyy' }}</td>
                    <td>{{ product.date_revision | date:'dd/MM/yyyy' }}</td>
                    <th class="options">
                        <button class="options-button" (click)="toggleDropdown(product.id)">...</button>
                        <div class="options-dropdown" [class.show]="dropdownId === product.id">
                            <div>Editar</div>
                            <div (click)="setDeleteModal(product.id, product.name)">Eliminar</div>
                        </div>
                    </th>
                </tr>
                }

            </tbody>
        </table>

        <div class="footer-product-list">
            <div class="footer-product-list_left">
                {{ totalProducts }} Resultados
            </div>
            <div class="footer-product-list_center">
                <div class="pagination">
                    <button class="btn" (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
                    <span>Página {{ currentPage }} de {{ totalPages }}</span>
                    <button class="btn" (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
                </div>
            </div>
            <div class="footer-product-list_right">
                <select class="border-secondary select_quantity" name="quantityPerPage" [(ngModel)]="quantityPerPage"
                    (change)="getProducts()">
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>
    </div>
    } @else {
    <div class="no-products">
        <h2>No hay productos disponibles.</h2>
    </div>
    }

    <delete-product-modal [productId]="selectedProductId" [productName]="selectedProductName"
        [openModal]="isDeleteModalOpen" (closeModalEvent)="closeDeleteModal()"></delete-product-modal>

</div>