<div class="product-list-container">
    <div class="header-product-list">
        <div class="header-product-list_left">
            <input type="text" placeholder="Search" class="input-search-product-list border-secondary"
                (keyup)="searchProducts($event.target.value)" aria-label="Buscar producto" />
        </div>

        <div class="header-product-list_right">
            <button class="btn btn_primary" (click)="addProduct()"
                aria-label="Boton para agregar producto">Agregar</button>
        </div>
    </div>

    @if (!(isProductsLoading$ | async)) {
    <div class="no-products">
        <h2>Cargando...</h2>
    </div>
    }

    @if ((isProductsLoading$ | async) && totalProducts === 0) {
    <div class="no-products">
        <h2>No hay productos disponibles.</h2>
    </div>
    }

    @if ((isProductsLoading$ | async) && totalProducts > 0) {
    <div class="card-product-list">
        <table>
            <thead>
                <tr>
                    <th class="text-align-center">Logo</th>
                    <th>Nombre del producto</th>
                    <th>Descripción</th>
                    <th>Fecha de liberación</th>
                    <th>Fecha de restricción</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (product of (products$ | async); track product.id) {
                <tr>
                    <td class="text-align-center"><img src="{{product.logo}}" class="product-logo"
                            alt="{{ product.name }} logo" width="100" height="100" /></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.date_release | date:'dd/MM/yyyy':"UTC" }}</td>
                    <td>{{ product.date_revision | date:'dd/MM/yyyy':"UTC" }}</td>
                    <th class="options">
                        <button id="dropdown-{{product.id}}" class="options-button"
                            (click)="toggleDropdown(product.id)">...</button>
                        <div class="options-dropdown" [class.show]="dropdownId === product.id">
                            <div id="edit-product-{{product.id}}" (click)="editProduct(product.id)">Editar</div>
                            <div id="delete-product-{{product.id}}" (click)="setDeleteModal(product.id, product.name)">
                                Eliminar</div>
                        </div>
                    </th>
                </tr>
                }

            </tbody>
        </table>

        <div class="footer-product-list">
            <div class="footer-product-list_left">
                {{ totalProducts }} Resultados
            </div>
            <div class="footer-product-list_center">
                <div class="pagination">
                    <button class="btn" (click)="previousPage()" [disabled]="currentPage === 1"
                        aria-label="Botón anterior del paginado">Anterior</button>
                    <span>Página {{ currentPage }} de {{ totalPages }}</span>
                    <button class="btn" (click)="nextPage()" [disabled]="currentPage === totalPages"
                        aria-label="Botón siguiente del paginado">Siguiente</button>
                </div>
            </div>
            <div class="footer-product-list_right">
                <select class="border-secondary select_quantity" name="quantityPerPage" [(ngModel)]="quantityPerPage"
                    (change)="getProducts(false)" aria-label="Cantidad de productos por página">
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>
    </div>
    }


    <delete-product-modal [productId]="selectedProductId" [productName]="selectedProductName"
        [openModal]="isDeleteModalOpen" (closeModalEvent)="closeDeleteModal()"></delete-product-modal>

</div>