/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #f5df66;
  --primary-color-hover: #e4d05f;
  --secondary-color: #e4e5e7;
  --secondary-color-hover: #d3d4d6;
  --background-color: #f4f6f9;
}
body {
  background: var(--background-color);
}
