.form-product-container {
  margin: 2rem auto;
  width: 70%;
  text-align: center;
  background: white;
}
.form-product-header {
  padding-top: 1rem;
}
.form-product-form {
  padding: 2rem;
  flex-direction: column;
  text-align: left;
}
